<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- For Android 13+ we need fine-grained media permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- For Android 13+ we need notification permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GEOENTERPRISES"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".notifications.NotificationsActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            
        <activity
            android:name=".subcategory.SubcategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".orders.OrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".orders.YourOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".dashboard.DashboardActivity" />
            
        <activity
            android:name=".transactions.TransactionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".dashboard.DashboardActivity" />
            
        <activity
            android:name=".orders.GameOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".orders.YourOrdersActivity" />
            
        <activity
            android:name=".deposit.DepositActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".dashboard.DashboardActivity" />
            
        <activity
            android:name=".deposit.DepositsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".dashboard.DashboardActivity" />
            
        <activity
            android:name=".withdrawal.WithdrawalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".dashboard.DashboardActivity" />
            
        <activity
            android:name=".withdrawal.WithdrawalsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".dashboard.DashboardActivity" />
            
        <activity
            android:name=".paidservices.PaidServicesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".dashboard.DashboardActivity" />
            
        <activity
            android:name=".help.HelpVideosActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".dashboard.DashboardActivity" />
            
        <activity
            android:name=".help.VideoPlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".help.HelpVideosActivity" />

        <!-- FCM Service -->
        <service
            android:name=".fcm.GeoFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- FCM Configuration -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="geo_notifications" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_click_action"
            android:value="OPEN_ACTIVITY_1" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_geo_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_color" />

    </application>

</manifest>
